body{
    background-color: black;
    display: center;
    font-family: "Roboto", sans-serif;
}
h4{
    margin: 0 auto;
    padding-right: 25px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.post{
    background-color: white;
    width: 420px;
    border: solid black 0px;
}
.post-header{
    margin: 0 auto;
    padding: 10px;
}
.img{
    width: 90%;
}
.icons{
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 5 25px;
}
.icon{
    margin: 10px 10px 10px auto;
    padding-right: 5px;
    height: 0px;
}
.html5{
    margin: auto 0;
}
.leftSide, .topHeader {
    display: flex;
}
.names {
    margin-left: 5px;
}
.bookmark {
    margin-right: 5px;
    display: flex;
    justify-content: flex-end;
}